<article>
	<h1>The World of Me</h1>
	<p>Today I made a Rails App in Manchester</p>

	<ul>
	  <li>Blocks</li>
	  <li>Render an image</li>
	</ul>

	<a href="http://www.thefword.org.uk/2016/08/theatre-and-dance-at-the-edinburgh-fringe-part-one/">Theatre Reviews</a>

	<h2>Get In Touch</h2>
	<form>
		<ul class="contact-form">
			<li><input type="name" value="Name"></li>
			<li><input type="email" value="Email"></li>
			<li><textarea>Your Message</textarea></li>
			<button>Submit</button>
		</ul>
	</form>
</article>

<aside>
	<a class="twitter-timeline" href="https://twitter.com/Rachel_Cunning">Tweets by Rachel_Cunning</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>